<h2>List of Celebrities</h2>
<a href="/celebrities/new">Add New Celebrity!</a>
{{#each celebrities}}
<div style="padding: 10px">
    <a href="/celebrities/{{this._id}}">{{this.name}}</a>
    <form style="display:inline" action="/celebrities/{{this._id}}/delete" method="POST"><input type="submit"
            value="delete"></form>

</div>
{{/each}}