<h2>Create a new Celebrity</h2>
<a href="javascript:window.history.back()">go back</a><br /><br />
<form action="/celebrities" method="POST">
    <div>name: <input type="text" name="name"></div>
    <div>occupation: <input type="text" name="occupation"></div>
    <div>catchPhrase <input type="text" name="catchPhrase"></div>
    <input type="submit" value="Send">
</form>