<h2>Details Page for {{celebrity.name}}</h2>
<a href="javascript:window.history.back()">go back</a><br /><br />
<b>Occupation:</b> {{celebrity.occupation}}<br />
<b>catchPhrase:</b> {{celebrity.catchPhrase}}<br /><br />
<a href="/celebrities/{{celebrity._id}}/edit">edit</a>