<h2>Create a new Movie</h2>
<a href="javascript:window.history.back()">go back</a><br /><br />
<form action="/movies" method="POST">
    <div>title: <input type="text" name="title"></div>
    <div>genre: <input type="text" name="genre"></div>
    <div>plot <input type="text" name="plot"></div>
    <input type="submit" value="Send">
</form>