<h2>Details Page for the movie {{movie.title}}</h2>
<a href="javascript:window.history.back()">go back</a><br /><br />
<b>Genre:</b> {{movie.genre}}<br />
<b>Plot:</b> {{movie.plot}}<br /><br />
<a href="/movies/{{movie._id}}/edit">edit</a>